apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: luks-volume
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: cloudscale-volume-ssd-luks
